<template>
    <div>
        <div class='poket_detail'>
            <img :src= poketmon_data[poke_id].sprites.front_default class="thumb_img">
        </div>
        <tr>
            <td class='detail_poket'> 무게 </td>
            <td class='detail_poket'>{{poketmon_data[poke_id].weight}}</td>
        </tr>
        <tr>    
            <td class='detail_poket'> 키 </td>
            <td class='detail_poket'>{{poketmon_data[poke_id].height}}</td>
        </tr>
        <tr>    
            <td class='detail_poket'> ID </td>
            <td class='detail_poket'>{{poketmon_data[poke_id].id}}</td>
        </tr>
    </div>
</template>
<script>
export default {
    props:{
        poketmon_data: Array,
        poke_id: Number,
    },
    
}
</script>
<style>
tr, td{
    border: 1px solid gray;
}
.detail_poket{
    width: 48px;
    height: 30px;
    text-align: center
}
.thumb_img{
    display: inline-block
}
.poket_detail{
    border: 1px solid black;
    display: inline-block
}
</style>
