<template>
<div>
    <progress max="100" :value="view_percent"></progress>
    <div v-for='(img, index) in sprites_imgs'
    :key="img.id"
    class='poket'
    >
        <img :src=img.front_default @click="show_detail(index)">
    </div>
    <detail :poketmon_data='poke_data' :poke_id='poke_id' id='poke_detail'></detail>
</div>
</template>

<script>
import axios from 'axios'
import detail from './detail.vue'

export default {
    props:{
        results: Array,
    },
    components:{
        'detail': detail
    },
    data(){
        return{
            poke_data: [],
            sprites_imgs: [],
            poke_id: 0,
            view_percent: 0,
            view_value: 0,
        }
    },
    mounted(){
        for(var i in this.results){
            axios.get(this.results[i].url)
            .then(response => {
                this.poke_data.push(response.data)
                this.sprites_imgs.push(response.data.sprites)
                this.view_value += 1
                this.view_percent = this.view_value / this.results.length * 100
            })
        }
    },
    computed() {
    },
    methods: {
        show_detail: function(index){
            this.poke_id = index
        }  
    },
}
</script>

<style>
.poket{
    display: inline-block;
    border: 1px solid darkgray;
}
</style>

