<template>
<div>
    <thumb :results="posts.data.results"></thumb>
</div>
</template>


<script>
import axios from 'axios'
import thumb from './components/thumb.vue'

export default {
    data(){
        return{
            posts: null
        }
    },
    components:{
      'thumb': thumb,
    },
    created() {
    axios.get(`https://pokeapi.co/api/v2/pokemon?offset=0&limit=100/`)
    .then(response => {
      this.posts = response
    })
    }

}
</script>

<style>

</style>
